{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            </div>
                {% if post.tags.all %}
                    <div class="all-tag-container">
                        {% for tag in post.tags.all %}
                            <!-- <div> -->
                                <form action="{% url 'blog-home' %}" method="GET">
                                    {% if "tag_search" in request_get %}
                                        <input type="hidden" name="tag_search" value={{ request_get.tag_search }}>
                                    {% endif %}
                                    {% if "search" in request_get %}
                                        <input type="hidden" name="search" value={{ request_get.search }}>
                                    {% endif %}
                                    {% if tag_filter %}
                                        {% for temp in tag_filter %}
                                            <input type="hidden" name="selected_tag" value={{ temp }}>
                                        {% endfor %}
                                    {% endif %}
                                    <input type="hidden" name="selected_tag" value={{ tag }}>
                                    <button type="submit" class="btn badge badge-pill badge-info single-tag-container">{{ tag }}</button>
                                </form>
                            <!-- </div> -->
                        {% endfor %}
                    </div>
                {% endif %}

                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.business_name }}</a></h2>
                <p class="article-content">{{ post.description }}</p>
                {% if post.website %}
                    <p class="article-content">{{ post.website }}</p>
                {% endif %}
                <p class="article-content">{{ post.country }}, {{ post.state_or_province }}, {{ post.city }}</p>
                {% if post.address %}
                    <p class="article-content">{{ post.address }}</p>
                {% endif %}
                {% if post.additional_address_info %}
                    <p class="article-content">{{ post.additional_address_info }}</p>
                {% endif %}
                {% if post.contact_email %}
                    <p class="article-content">{{ post.contact_email }}</p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}