html {
    
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0%;
    background-position: center;
    background-color: rgba(40,55,69,1);
}

.display-text { 
    max-width: 1056px;
    text-align: center;
}

#line-one {
    color: ivory;
}

#line-two {
    color: darkcyan;
    font-size: 18px;
}